body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #a47673;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    margin-top: 32px;
    max-width: 764px;
    padding: 44px;
    margin: 32px auto 0;
    background-color: #fff;
    box-shadow: 10px 50px 22px 9px #141414;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

.job {
    margin: 16px 0;
}

.job-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

h2 {
    border-bottom: 2px solid black;
    font-weight: 600;
    line-height: 2;
}

.ul-cv {
    margin: 16px 0;
    list-style: disc;
    margin-left: 20px;
}

.footer p {
    margin-top: 14px;
}
.footer strong {
    font-weight: bold;
}

/* =============================MENU========================== */
.menu-container {
    background-color: rgb(69, 91, 195, 1);
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 30px 30px;
    font-size: 16px;
    text-align: center;
}

.menu a:hover,
li.active a {
    background: #fff;
    color: black;
}
